<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espadas de Honra - RPG</title>
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/game.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/ui.css') }}">
</head>
<body>

    <div class="ui-container-header">

        <!-- User Panel -->
        {% include 'ui/user_panel.html' %}
        
    </div>

    <div class="game-container">
        {% include 'game/game.html' %}
    </div>

    <script src="https://code.createjs.com/1.0.0/soundjs.min.js"></script>
    <script src="{{ url_for('static', path='js/game/utils.js') }}"></script>
    <script src="{{ url_for('static', path='js/game/maps.js') }}"></script>
    <script src="{{ url_for('static', path='js/game/world.js') }}"></script>
    <script src="{{ url_for('static', path='js/game/sprite.js') }}"></script>
    <script src="{{ url_for('static', path='js/game/monsters.js') }}"></script>
    <script src="{{ url_for('static', path='js/game/entity.js') }}"></script>
    <script src="{{ url_for('static', path='js/game/player.js') }}"></script>
    <script src="{{ url_for('static', path='js/game/enemy.js') }}"></script>
    <script src="{{ url_for('static', path='js/game/game.js') }}"></script>
</body>
</html>