<div class="ui-card menu_panel">
    <div class="flex">
        <div class="slot" data-key="inventory">
            <span>🎒</span>
        </div>
        <div class="slot" data-key="map">
            <span>🗺️</span>
        </div>
        <div class="slot" data-key="market">
            <span>🏪</span>
        </div>
        <div class="slot" data-key="player-stats">
            <span>👤</span>
        </div>
        <div class="slot" data-key="config">
            <span>⚙️</span>
        </div>
    </div>
</div>