<div class="ui-card user-panel">
    <div class="flex flex-between mb">
        <div id="user-name">
        </div>
        <div id="user-level">
        </div>
    </div>
    <div class="flex">
        <div class="stats-bar hp">
            <div class="stats-bar-fill hp">100/100</div>
        </div>
    </div>
    <div class="flex">
        <div class="stats-bar mana">
            <div class="stats-bar-fill mana">100/100</div>
        </div>
    </div>
    <div class="flex">
        <div class="stats-bar exp">
            <div class="stats-bar-fill exp">0/100</div>
        </div>
    </div>
</div>