<div class="ui-card user-panel">
    <div class="flex flex-between mb">
        <div id="user-name">
            Luiz
        </div>
        <div id="user-level">
            >Lv. 1
        </div>
    </div>
    <div class="flex">
        <div class="stats-bar hp">
            <div class="stats-bar-fill hp">100/100</div>
        </div>
    </div>
    <div class="flex">
        <div class="stats-bar mana">100/100</div>
    </div>
    <div class="flex">
        <div class="stats-bar exp">0/100</div>
    </div>
</div>